<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
	<title>YCK admin</title>
	<link rel="stylesheet" href="../statics/assets/css/reset.css">
	<link rel="stylesheet" href="../statics/assets/css/main.css">
</head>

<body>
	<!--header-->
	<header>
		<div>
			<img>
			<h1>YCK 관리자 페이지</h1>
		</div>
	</header>

	<!--aside-->
	<aside>
		<nav>
			<ul class="category">
				<li class="menu">
					<a href="index.html">
						<span>데이터 관리</span>
					</a>
				</li>
				<li class="menu">
					<a href="data.html">
						<span>데이터 현황</span>
					</a>
				</li>
			</ul>
		</nav>
	</aside>

	<!--section-->
	<section>
		<article>
			<h3>테이블1</h3>
			<hr>
		</article>

		<article>
			<h3>테이블2</h3>
			<hr>
		</article>

        <article>
			<h3>테이블3</h3>
			<hr>
		</article>

	</section>

	<!--footer-->
	<footer>

	</footer>
</body>

</html>