<!DOCTYPE html>
<html>

<head>
	<title>YCK admin</title>
	<link rel="stylesheet" href="../statics/assets/css/reset.css">
	<link rel="stylesheet" href="../statics/assets/css/main.css">
</head>

<body>
	<!--header-->
	<header>
		<div>
			<img>
			<h1>YCK 관리자 페이지</h1>
		</div>
	</header>

	<!--aside-->
	<aside>
		<nav>
			<ul class="category">
				<li class="menu">
					<a href="index.html">
						<span>데이터 관리</span>
					</a>
				</li>
				<li class="menu">
					<a href="data.html">
						<span>데이터 현황</span>
					</a>
				</li>
			</ul>
		</nav>
	</aside>

	<!--section-->
	<section>
		<article>
			<h3>멤버 추가</h3>
			<hr>
			<div>
				<form>
					<table>
						<tr>
							<th>이름</th>
							<td>
								<input type="text" name="name">
							</td>
						</tr>
						<tr>
							<th>닉네임</th>
							<td>
								<input type="text" name="nickname">
							</td>
						</tr>
					</table>
					<input type="submit">
				</form>
			</div>
		</article>

		<article>
			<h3>경기 기록</h3>
			<hr>
			<div>
				<form>
					<table>
						<tr><td></td></tr>
						<tr><td></td></tr>
						<tr><td></td></tr>
						<tr><td></td></tr>
					</table>
					<input type="submit">
				</form>
			</div>
		</article>
		<article>
			<h3>일정 생성</h3>
			<hr>
			<div>
				<form>
					<table>
						<tr>
							<th>날짜</th>
							<td>
								<input type="text" name="match-date">
							</td>
						</tr>
						<tr>
							<th>시간</th>
							<td>
								<input type="text" name="match-time">
							</td>
						</tr>
						<tr>
							<th>참여멤버</th>
							<td>
								<input type="button" name="match-members" value="팀 지정">
							</td>
						</tr>
						<tr>
							<th>A팀</th>
							<td>
								<input type="text" name="match-A-team">
							</td>
						</tr>
						<tr>
							<th>B팀</th>
							<td>
								<input type="text" name="match-B-team">
							</td>
						</tr>
					</table>
					<input type="submit">
				</form>
			</div>
		</article>
	</section>

	<!--footer-->
	<footer>

	</footer>
</body>

</html>